/* site-wide style*/

body {
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  font-family: 'Oxygen', sans-serif;
  background-color: #222222;
  color: #FFFFFF;
  padding-left: 10px;
}

/* link theming */

a:link {
    color: #09A6A4;
    text-decoration: none;
}

a:visited {
  color: #F65658;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
