@import url("https://fonts.googleapis.com/css?family=Oxygen");

a {
  color: #09A6A4;
  text-decoration: none;
  transition: .3s;
}

a:hover {color: #F65658;}

a:hover + .fade {opacity: 1; visibility: visible;}

body {
  font-family: "Oxygen", sans-serif;
  background-color: #222;
  color: #FFF;
  line-height: 1.3;
  margin: 15px;
  padding: 0px 10px;
}

.fade {
  opacity: 0;
  transition: visibility .3s, opacity .3s;
  visibility: hidden;
  white-space: nowrap;
}
