/* site-wide style*/

body {
    font-family: 'Oxygen', sans-serif;
    background-color: #222222;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}

/* link theming */

a {
    color: #09A6A4;
    transition: .3s;
    text-decoration: none;
}

a:hover {
    color: #F65658;
}

/* remove Spotify border */

iframe.spotify {
    border-style:none;
}
