@import url("https://fonts.googleapis.com/css?family=Oxygen");

a {
  color: #09A6A4;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: .5s;
}

a:hover {color: #F65658;}

a:hover + .fade {
  opacity: 1;
  visibility: visible;
}

a.light {color: #055D5C;}

a.light:hover {color: #F20D10;}

body {
  background-color: #222;
  color: #FFF;
  font-family: "Oxygen", sans-serif;
  line-height: 1.3;
  margin: 15px;
  padding: 0px 10px;
  transition: .5s;
}

body.light {
  background-color: #FFF;
  color: #222;
}

.fade {
  opacity: 0;
  transition: visibility .5s, opacity .5s;
  visibility: hidden;
  white-space: nowrap;
}

h1 {
  margin-bottom: 8px;
  padding-bottom: 4px;
}

#lights:hover {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FF9;
}
#lights.light:hover {
  color: #222222;
  text-shadow: 0 0 5px #FF9;
}

p {
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 6px;
}

#spotify {
  border: none;
  height: 80px;
  width: 355px;
}
