/* Font from Google */

@import url("https://fonts.googleapis.com/css?family=Oxygen");

/*  Primary theming */

body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.3;
  margin: 15px;
  padding: 0 10px;
  transition: .5s;
  color: #FFF;
  background-color: #222;
}
h1 {
  margin-bottom: 8px;
  padding-bottom: 4px;
}
p {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 10px;
}
a {
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  color: #09A6A4;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0, .0);
}
a:hover {
  color: #F65658;
}

/* Light mode */

body.light {
  color: #222;
  background-color: #FFF;
}
a.light {
  color: #055D5C;
}
a.light:hover {
  color: #F20D10;
}
#lightswitch:hover {
  color: #FFF;
  text-shadow: 0 0 5px #FF9;
}
#lightswitch.light:hover {
  color: #222;
  text-shadow: 0 0 5px #FF9;
}

/* ¯\_(ツ)_/¯ */

#shruggie {
  visibility: hidden;
  transition: visibility .5s, opacity .5s;
  white-space: nowrap;
  opacity: 0;
}
a:hover + #shruggie {
  visibility: visible;
  opacity: 1;
}

/* Spotify adjustments */

#spotify {
  width: 355px;
  height: 80px;
  border: none;
}
